version: 2
registries:
  pleiepenger-barn-uttak:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/pleiepenger-barn-uttak
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    open-pull-requests-limit: 20
    groups:
      nav-deps:
        patterns:
          - "*no.nav*"
      annet-deps:
        patterns:
          - "*"
        exclude-patterns:
          - "*no.nav*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
