server:
  port: ${PORT:8080}
  servlet:
    context-path: /pleiepenger-barn-uttak

no.nav:
  navn: 'Pleiepenger Barn Uttak'
  versjon: '@project.version@'
  beskrivelse: 'Håndterer uttak av pleiepenger barn på tvers av omsorgspersoner.'
  security:
    jwt:
      issuer:
        azure:
          accepted_audience: 'pleiepenger-barn-uttak'

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_DATABASE}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-test-query: SELECT 1
      maximum-pool-size: 2

management:
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: true
  health :
    diskspace:
      enabled: false
  endpoint:
    health:
      show-details : always
  endpoints:
    web:
      exposure:
        include: info, health, prometheus
      base-path: /internal/actuator

springdoc:
  api-docs:
    path: /internal/api-docs
  swagger-ui:
    path: /internal/swagger

info:
  app:
    name: Pleiepenger barn uttak
    version: @project.version@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@
