server:
  port: ${PORT:8080}

no.nav:
  navn: 'Pleiepenger Barn Uttak'
  versjon: '@project.version@'
  beskrivelse: 'Håndterer uttak av pleiepenger barn på tvers av omsorgspersoner.'
  security:
    jwt:
      issuer:
        azure:
          accepted_audience: 'pleiepenger-barn-uttak'

management:
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: true
  health :
    diskspace:
      enabled: false
  endpoint:
    health:
      show-details : always
  endpoints:
    web:
      exposure:
        include: info, health, prometheus
      base-path: /internal/actuator

springdoc:
  api-docs:
    path: /internal/api-docs
  swagger-ui:
    path: /internal/swagger

spring:
  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.postgresql.Driver
