name: Bygg og deploy

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENCE'
      - 'CODEOWNERS'

jobs:
  docker-and-nais-deploy:
    name: Laste opp docker image og deploye app
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v2
      - name: Sette opp Java
        uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - name: Bygge JAR
        run: mvn install --batch-mode --settings ./.m2/settings.xml --file pom.xml
      - name: Sette Docker image navn og tag
        env:
          DOCKER_IMAGE: docker.pkg.github.com/${{ github.repository }}/server
        run: |
          echo "::set-env name=IMAGE::$DOCKER_IMAGE:$(date "+%Y.%m.%d")-$(git rev-parse --short HEAD)"
          echo "::set-env name=LATEST::$DOCKER_IMAGE:latest"
      - name: Bygge Docker image
        run: docker build . --pull --tag $IMAGE --tag $LATEST
      - name: Laste opp Docker image
        run: |
          echo "$GITHUB_TOKEN" | docker login --username "x-access-token" --password-stdin https://docker.pkg.github.com
          docker push $LATEST
          docker push $IMAGE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.PLEIEPENGER_DEPLOY_KEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/naiserator.yaml
          VARS: nais/dev-gcp.json
          PRINT_PAYLOAD: true
