name: Bygg og deploy

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENCE'
      - 'CODEOWNERS'

jobs:
  docker-and-nais-deploy:
    name: Laste opp docker image og deploye app
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v2
      - name: Sette opp Java
        uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - name: Bygge JAR
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_PASSWORD: ${{ secrets.PLEIEPENGER_UTTAK_TOKEN }}
        run: mvn package --batch-mode --settings ./.m2/settings.xml --file pom.xml -DtrimStackTrace=false -Drevision= -Dchangelist= -Dsha1="$(git log -1 --pretty='%ad' --date=format:'%Y%m%d%H%M%S')-$(echo $GITHUB_SHA | cut -c1-7)"
      - name: Deploy kontrakter to Github Package repo
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_PASSWORD: ${{ secrets.PLEIEPENGER_UTTAK_TOKEN }}
        run: mvn --settings ./.m2/settings.xml deploy -DskipTests=true -Dmaven.wagon.http.pool=false
      - name: Sette Docker image navn og tag
        env:
          DOCKER_IMAGE: docker.pkg.github.com/${{ github.repository }}/server
        run: |
          echo "IMAGE=$DOCKER_IMAGE:$(date "+%Y.%m.%d")-$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "LATEST=$DOCKER_IMAGE:latest" >> $GITHUB_ENV
      - name: Bygge Docker image
        run: docker build . --pull --tag $IMAGE --tag $LATEST
      - name: Laste opp Docker image
        run: |
          echo "$GITHUB_TOKEN" | docker login --username "x-access-token" --password-stdin https://docker.pkg.github.com
          docker push $LATEST
          docker push $IMAGE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.PLEIEPENGER_DEPLOY_KEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/naiserator.yaml
          VARS: nais/dev-gcp.json
          PRINT_PAYLOAD: true
