name: Publish kontrakt
on:
  release:
    types: [ published ]

jobs:
  build:
    name: Release kontrakt
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Release
        uses: navikt/sif-gha-workflows/.github/actions/maven/release@main
        with:
          release-version: ${{ github.event.release.tag_name }}
          java-version: '21'
          build-token: ${{ secrets.READER_TOKEN }}
          release-token: ${{ secrets.GITHUB_TOKEN }}
          mvn-projects: '-am -pl :kontrakter'
